<%- include('./includes/head.ejs') %>
  </div>
  </header>
  <main>
<div class="form" id="Register">
  <h2>Register</h2>
  <%- include('./includes/errors.ejs') %> 
    <form action="/user/register" method="POST">
        <div class="form-div">
            <label for="username">Enter Your Name</label>
            <input 
            type="text" 
            class="form-control" 
            name="username" 
            id="username"  
            placeholder=""
            value="<%= typeof username != 'undefined' ? username : '' %>" 
            autocomplete="off">
        </div>
        <div class="form-div">
            <label for="email">Enter Your Email-Id</label>
            <input type="text" 
            class="form-control" 
            name="email" 
            id="email"  
            placeholder="" 
            value="<%= typeof email != 'undefined' ? email : '' %>"
            autocomplete="off">
        </div>
        <div class="form-div">
            <label for="password">Password</label>
            <input 
            type="password" 
            class="form-control" 
            name="password" 
            id="password" 
            placeholder="" 
            autocomplete="off">
        </div>
        <div class="form-div">
            <label for="confirm">Confirm Password</label>
            <input type="password" 
            class="form-control" 
            name="confirm" 
            id="confirm" 
            placeholder="" 
            autocomplete="off">
        </div>
    <button type="submit" class="btn" id="mainbtn">Register</button>
  </form>
  <h3>Already a  User ? Login</h3>
  <form class="user" action="/user/login" method="GET">
    <button class="btn registerbtn" id="mainbtn">Login</button>
</form>
</div>
<%- include('./includes/end.ejs') %>