<%- include('./includes/head.ejs') %>

<main class="main">
    <%- include('./includes/errors.ejs') %> 
    <div class="heading">
        <h2 class="heading_msg">Recent Transfers</h2>
      </div>
      <div class="transfers">
<% Transfers.forEach(transfer => { %>
    <div class="transfer_element">
    <h5><%= transfer.username %> </h5>
    <h5><%= transfer.friendname %> </h5>
    <h5><%= transfer.amount %> </h5>
   
    <a href="/user/edit-transaction/<%= transfer.uid %>  " ><button class="edit"><i class="fas fa-edit"></i></button></a>
    <a href="transaction/delete/<%= transfer.uid %>  "><button class="delete"><i class="fas fa-trash-alt"></i></button></a>
</div>    
<% }) %>
      </div>

</main>
<%- include('./includes/pagination.ejs' , { HasNextPage : HasNextPage , HasPreviousPage : HasPreviousPage , CurrentPage : CurrentPage , PreviousPage : PreviousPage , NextPage : NextPage }) %> 
<%- include('./includes/end.ejs') %>