<%- include('./includes/head.ejs') %>
<%- include('./includes/nav.ejs') %>

<% Transfers.forEach(transfer => { %>
    <h4><%= transfer.username %></h4>
    <h4><%= transfer.friendname%></h4>
    <h4><%= transfer.Time %> </h4>
<% }) %>

<%- include('./includes/end.ejs') %>