<%- include('./includes/head.ejs') %>

<main class="main">
    <%- include('./includes/errors.ejs') %> 
    <div class="heading">
        <h2 class="heading_msg">Recent Transfers</h2>
      </div>
      <div class="transfers">
<% Transfers.forEach(transfer => { %>
    <div class="transfer_div">
        <div class="username">
    <h5 class="text">Username :</h5>
    <h5 class="text"><%= transfer.username %> </h5>
    </div>
    <div class="friendname">
        <h5 class="text">Friends :</h5>
            <% transfer.friendname.forEach(friend => { %>
            <h5 class="text"><%= friend %> </h5>
            <% }) %>
    </div>
<div class="amount">
    <h5 class="text">Amount :</h5>
    <% transfer.amount.forEach(amount => { %>
        <h5 class="text"><%= amount %> </h5>
    <% }) %>
</div>
<div class="description">
    <h5 class="text">Description : </h5>
    <h5 class="text"><%= transfer.message %> </h5>
</div>
<div class="time">
    <h5 class="text">Time : </h5>
    <h5 class="text"><%= transfer.updatedAt %> </h5>
    
</div>
    <div class="actions">
    <a href="/user/edit-transaction/<%= transfer.uid %>  " ><button class="edit"><i class="fas fa-edit"></i></button></a>
    <a href="/user/transaction/delete/<%= transfer.uid %>  "><button class="delete"><i class="fas fa-trash-alt"></i></button></a>
</div>
</div>    
<% }) %>
      </div>

</main>
<%- include('./includes/end.ejs') %>