<%- include('./includes/head.ejs') %>

<main class="main">
<% Transfers.forEach(transfer => { %>
<div class="transfer_div">
    <h3><%= transfer.username %> </h3>
    <h3><%= transfer.friendname %> </h3>
    <h3><%= transfer.amount %> </h3>
    <h3><%= transfer.Time %> </h3>
    <button><a href="/<%= friendname %> ">view transaction</a></button>
</div>    
<% }) %>
</main>
<%- include('./includes/end.ejs') %>